version: 2
jobs:
  build:
    docker:
      - image: circleci/php:5.6-cli-node-browsers
    steps:
      - checkout
      - run: echo "hello world"
  test:
    docker:
      - image: circleci/php:5.6.30
    steps:
      - checkout
      - run: echo "Test me"
  deploy:
    docker:
      - image: circleci/php:5.6.30
    steps:
      - checkout
      - run: echo "Deploy me"
workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build
      - test
      - deploy
